header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

#logo {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 50%;
    width: 50%;
}

h3 {
    margin-left: 20px;
    margin-bottom: 5px;
    color: #404040;
}